@model IEnumerable<PcPartPicker.Models.Models.SystemBuild>

@{
    ViewData["Title"] = "Index";
}

<h2>Browse System builds</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="https://drive.google.com/uc?export=view&amp;id=@item.ImgUrl" height="30" width="30" />
                <a asp-action="Details" asp-route-id="@item.SystemBuildId">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.SystemBuildId">Edit</a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.SystemBuildId">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
