@model IEnumerable<PcPartPicker.Models.Models.MemoryOption>

@{
    ViewData["Title"] = "Index";
}

<h2>Browse memory</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryFrequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="https://drive.google.com/uc?export=view&amp;id=@item.ImgUrl" height="30" width="30" />
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryFrequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.MemoryOptionId">Edit</a> <text>|</text>
                        <a asp-action="Details" asp-route-id="@item.MemoryOptionId">Details</a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.MemoryOptionId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.MemoryOptionId">Details</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
