@model IEnumerable<PcPartPicker.Models.Models.Cpu>

@{
    ViewData["Title"] = "Index";
}

<h2>Browse cpus</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CacheMemory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Socket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CacheMemory)
            </td>
            <td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CpuId">Edit</a> <text>|</text>
                        <a asp-action="Details" asp-route-id="@item.CpuId">Details</a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.CpuId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.CpuId">Details</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
