@model PcPartPicker.Models.Models.Motherboard

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)$
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CpuSocket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpuSocket)
        </dd>
    </dl>
</div>
<div>
    @{
        if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model.MotherboardId">Edit</a> <text>|</text>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
